header
    .title-container
        a(href=url_for('/'))
            = config.title
        span
            = config.subtitle
    ul.ul-nav
        each value, key in theme.menus
            li
                case true
                    when key === 'home' && is_home()
                        a.active(class="icon fas fa-home" href=url_for(value))
                        a.active(class="word" href=url_for(value))
                            = __(key)
                    when key === 'home'
                        a(class="icon fas fa-home" href=url_for(value))
                        a(class="word" href=url_for(value))
                            = __(key)
                    when key === 'archives' && is_archive()
                        a.active(class="icon fas fa-archive" href=url_for(value))
                        a.active(class="word" href=url_for(value))
                            = __(key)
                    when key === 'archives'
                        a(class="icon fas fa-archive" href=url_for(value))
                        a(class="word" href=url_for(value))
                            = __(key)
                    when key === 'about' && page.layout === 'about'
                        a.active(class="icon fas fa-exclamation-circle" href=url_for(value))
                        a.active(class="word" href=url_for(value))
                            = __(key)
                    when key === 'about'
                        a(class="icon fas fa-exclamation-circle" href=url_for(value))
                        a(class="word" href=url_for(value))
                            = __(key)
